body{
    background-color: rgb(197, 230, 241);
    text-align: center;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 0 auto;
    
}

footer{
    font-style: italic;
    border: 2px solid rgb(56, 93, 105);
    width: fit-content;
    margin: 5em auto;
}